#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
    
    php:
            date.timezone: Europe/Prague
            # zlib.output_compression: yes

    nette:
        application:
            errorPresenter: Error
        session:
            expiration: 14 days
        debugger:
            email: 'milosdivis@gmail.com'

    services:
        database: @nette.database.default
        authenticator: 
            class: Security\Authenticator

production < common:
    parameters:
        database:
            driver: mysql
            socket: /tmp/mysql51.sock
            dbname: elvoDB
            user: 1d1fhhzm
            password: "ac%aksud9"
        

    nette:
        database:
            default:
                dsn: '%database.driver%:unix_socket=%database.socket%;dbname=%database.dbname%'
                user: %database.user%
                password: %database.password%

development < common:
    parameters:
        database:
            driver: mysql
            host: localhost
            dbname: elvoDB
            user: root
            password: pass

    nette:
        database:
            default:
                dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
                user: %database.user%
                password: %database.password%
