
{block content}

<H1 n:block="title">Montáž a servis domovního vytápění</H1>

<H2>Zprostředkování a instalace kotlů</H2>

<UL>
    <LI>Na plyn i tuhá paliva S možností ohřevu vody</LI>
    <LI>Instalace přívodu plynu a plynových spotřebičů</LI>
    <LI>Montáž klasických a kondenzačních plynových kotů</LI>
</UL>

<H2>Rozvod tepla</H2>

<ul>
    <LI>Montáž a opravy měděný rozvodů</LI>
    <LI>Radiátory, žebříkové topení, podlahové vytápění</LI>
</ul>