
{block content}

<H1 n:block="title"> Vodovody, odpady, vybavení koupelen a toalet</H1>

<H2>Instalace a údržba rozvodů</H2>
<ul>
    <LI>Rozvody vody v plastovém i nerezovém provedení</LI>
    <LI>Instalace odpadových vedení</LI>
    <LI>Opravy a rekonstrukce potrubí</LI>
</ul>

<h2>Vybavení koupelen</h2>

<ul> 
    <LI>Zprostředkování a montáž veškerého vybavení koupelen a toalet včetně ohřívačů</LI>
    <LI>Prodej a montáž doplňků koupelen (skříňky, vestavěné umyvadla, ...)</LI>
</ul>