
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
<script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
  </script>
{control editPageForm}
  
  <script type="text/javascript" src="{$basePath}/js/input_prompt.js"></script>