
{block content}

<H1 n:block="title"> Servisní práce</H1>

<H2>Oprava spotřebičů</H2>

<ul>
    <LI>Oprava plynových kotlů DAKON</LI>
    <LI>Servis a výměna ohřívačů vody</LI>
</ul>

<H2>Servis a údržba rozvodů tepla, vody a odpadů</H2>

<ul>
    <LI>Rekonstrukce rozvodů</LI>
    <LI>Oprava havárií na plynovém, opdaním a vodovodním vedení</LI>
</ul>

<H2>Zajištění záruční i pozáruční opravy veškerých prací a vybavení</H2>